---
title: C2 with Reverse-Proxy in Docker & analysis with WireShark
layout: layouts/home.njk
description: Home for my project
date: Last Modified
---

<p>
We'll create three containers, an Attacker, a Reverse-Proxy, and a Victim. 👹🤖🤔 </br>
We'll configure the reverse-proxy to serve a harmless website and proxy requests to our hidden attacker server. 😇😈 </br>
We'll use a RAT, a remote access tool, to control the victim. 🐀💀 </br>
We'll capture packets and analyze them. 🔍🤔
<p>

<p>
For more analyzing check out my <a href="https://carnage-blog.netlify.app/" style="color: #f91250;">TryHackMe Carnage room walkthrough</a>!
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>