---
title: My Docker cybersecurity project #1
layout: layouts/home.njk
description: Home for my project
date: Last Modified
---

<p>
  This is a tutorial or a walkthrough of my project.
  We're going to create containers, a reverse proxy, serve a malicious RAT, and then
  we'll analize the captured traffic with WireShark. It'll be a blast.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>