<ul>
{% for post in posts | reverse %}
  <li>
    <span>step #{{post.data.order}} <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></span>
  </li>
{% endfor %}
</ul>